@model IEnumerable<ApolloWMS.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success btn-icon-split" asp-action="Create">
        <span class="icon text-black-50">
            <i class="fas fa-fw fa-user"></i>
            New Employee
        </span>
    </a>
</p>

<div class="card-body">
    <div class="table-responsive">
        <table id="employeesDataSoruce" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>                    
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Designation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Region)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HiredDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Region)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HiredDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
