@model IEnumerable<ApolloWMS.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Departments</h1>

<p>
    <a class="btn btn-success btn-icon-split" asp-action="Create">
        <span class="icon text-black-50">
            <i class="fas fa-fw fa-business-time"></i>
            New Department
        </span>
    </a>
</p>

<div class="card-body">
    <div class="table-responsive">
        <table id="departmentsDataSource" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
